* {
	font-family: "Poppins", sans-serif !important; 
}



/*#contact {
	background: #005c99 ;
	background-size: cover;
	background-repeat: no-repeat;
}*/

#contact-text, #footer-form{
	color: #ffffff;
}